h2 {
  color: rgb(65, 134, 151);
  font-style: italic;
}

.note {
  color: red;
}

li {
  color: rgb(211, 16, 16);
  padding-top: 3px;
  font-size: 15px;
}

.confirm {
  color: black;
  background: rgb(100, 167, 105);
  font-size: 12px;
  font-weight: bolder;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}